<div class="row" >

  <div class="col-sm-12 col-md-12" >
    <div class="thumbnail">
      <img src="{{photo}}" height="300">
      <div class="caption text-center">
        <h3>{{title}}</h3>

      </div>
      <article class="panal panal-defualt">
        <div class="panal-body">
          {{body}}
        </div>

      </article>
    </div>
  
  </div>

<div>


   

    <div class="col-md-12">
      <h2>Write Comment</h2>
      <form  novalidate #commentForm="ngForm" (ngSubmit)="setComment(commentForm.value)">
       
        <div class="form-group">
          <label for="name">Name</label>
          <input minlength="5" [(ngModel)]="singlecomment.name" type="text" name="name" #nameRef="ngModel" class="form-control" id="name"placeholder="Name">
        </div>

        <div class="form-group">
          <label for="Eail">Name</label>
          <input pattern="" [(ngModel)]="singlecomment.Email" type="text" name="Eamil"#EmailRef="ngModel" class="form-control" id="name"placeholder="Name">
        </div>

        <div class="form-group">
          <label for="name">Comment</label>
          <textarea minlength="15" [(ngModel)]="singlecomment.body" type="text" name="body"#CommentRef="ngModel" class="form-control" id="name"placeholder="Name"></textarea>
        </div>

         <button [disabled]="commentForm.invalid" type="submit" class="btn btn-defualt">Submit </button>


      </form>

<div *ngIf="commentForm.invalid &&(commentForm.dirty ||commentForm.touched)" class="alert alert-warning">

  <div *ngIf="nameRef.invalid">

  <p [hidden]="!nameRef.errors.minlength"> please name omre than 5 letters</p>

  </div>
<!--
  <div *ngIf="EmailRef.invalid">

  <p [hidden]="!EmailRef.errors.pattern">>Write email like exm@blog.com</p>

  </div>
-->
  <div *ngIf="CommentRef.invalid">

    <p [hidden]="!CommentRef.errors.minlength"> comment at least  15 letter</p>
  </div>
</div>


    </div>

 



<div class="text-center"> 
  <h2>comments  </h2>


  <div *ngFor="let item of comments" style="border:1px solid;"class="row comment">
    <div class="col-md-12">
      <h5>{{item.name}}|item.email.</h5>
      <p class="alert alert-success">

        {{item.body}}

      </p>
    </div>
    
  </div>
</div>


